{# TODO : manage errors display #}

<form method="post">
    <label for="section">Section</label>
    <input type="text" name="section" id="section">
	<label for="title">titre</label>
	<input type="text" name="title" id="title">
    <label for="core">article</label>
    <textarea name="core" id="core" cols="30" rows="10"></textarea>
    <label for="author">auteur</label>
    <input type="author" name="author" id="author">
	<button>Submit</button>
</form>
