{% extends 'layout.html.twig' %}

{% block content %}
    <h1>articles</h1>
            <select>
                {% for article in articles %}
                <option>{{ article.section }} </option>
                {% endfor %}
            </select>
                <button>valider</button>
            </form>



<a href="/admin/add">ajouter</a>

{% endblock %}
